---
import { Image } from 'astro:assets';
import clsx from 'clsx';
import { reader } from 'src/reader';
import ButtonLink from 'src/shared/ui/ButtonLink.astro';
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';

const collection = await reader.collections.dangers.all()

---

{collection && <Section>
	<Container>
		
		<div class='flex flex-col w-full gap-8 md:gap-12 lg:gap-28'>
			{
				collection.map(({entry}) => (
					<div
						class={clsx(
							'w-full rounded-2xl flex flex-col md:flex-row gap-4 md:gap-8 lg:gap-12',
							entry.reverse === 'reverse' && 'md:flex-row-reverse'
						)}>
						<div class='flex flex-col w-full md:w-[70%] gap-4 md:gap-8 lg:gap-12 justify-between'>
							<h3 class='text-4xl'>{entry.title}</h3>
							<div class='flex flex-col gap-4 md:gap-8 bg-secondary-bg/10 p-4 md:p-8 lg:p-12 rounded-2xl border-secondary-bg border'>
								{entry.reasons.map(item => (
									<div class='flex gap-4 items-center'>
										<div class='min-w-4 aspect-square rounded-full border border-secondary-bg z-30 bg-secondary-bg' />
										<p class='flex items-center text-xl md:text-2xl text-left'>
											{item.title}
										</p>
									</div>
								))}
							</div>
						</div>
						<div class='flex flex-col md:w-[30%] justify-end items-center'>
							<Image
								height={'200'}
								width={'200'}
								src={entry.img}
								class='w-full  object-contain'
								alt={''}
							/>
							<ButtonLink
								className='max-w-full w-full text-lg relative py-4'
								href={entry.buttonLink}
								title={entry.buttonLable}
							/>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</Section>}
