---
import { Image } from 'astro:assets';
import { reader } from 'src/reader';
import ButtonLink from '../shared/ui/ButtonLink.astro';
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';
import Video from '../shared/ui/Video.astro';
import Typewriter from '../widgets/Tipewriter.astro';

const hero = await reader.singletons.hero.read();

---

{hero && <Section className='overflow-hidden'>
	<Image
		src={hero.smokeImg}
		alt={''}
		class={'absolute object-cover object-top w-full md:w-3/5 z-0 opacity-40'}
		width={1280}
		height={768}
	/>
	<Container
		className='mx-auto flex flex-col z-10 gap-10 md:px-8 lg:px-12 md:justify-center md:items-start'>
		<div class='relative'>
			<h1 class='text-4xl relative w-full font-semibold text-center md:text-left md:text-6xl'>
				{hero.title}
			</h1>

			<Typewriter
				className='relative mx-auto md:mx-0 justify-self-center z-10 text-accent drop-shadow-md'
				withEmptyString
				interval={1500}
				words={hero.parasites as string[]}
			/>
		</div>
		<div
			class='flex justify-between gap-4 md:gap-8 relative mx-auto items-start w-full lg:px-0'>
			<div
				class='mt-auto relative lg:flex lg:flex-col h-full max-w-[550px] shrink hidden gap-10'>
				<p class='text-3xl'>
					{hero.subtitle}
				</p>
				<ButtonLink
					href='#actions'
					title={hero.buttonText}
					className='mt-auto'
				/>
				<Image
					class={'absolute -bottom-14'}
					src={hero.giftImg}
					height={'100'}
					width={'100'}
					alt={''}
				/>
				<Image
					class={'absolute right-0 bottom-2'}
					src={hero.giftImg}
					height={'100'}
					width={'100'}
					alt={''}
				/>
			</div>
			<div class='flex gap-0 sm:gap-4 md:gap-10 mx-auto md:ml-auto justify-end'>
				<div class={'shrink relative max-w-80 min-w-10'}>
					<Image
						src={hero.arrowImg}
						width={'500'}
						height={'500'}
						alt={''}
					/>
				</div>
				<div
					class={`rotate-3 mx-auto md:mx-0 relative h-[448px] w-[240px] md:w-[256px] shrink-0 bg-[url(${hero.videoWrapper})]`}>
					<Image
						src={hero.videoWrapper}
						alt={''}
						height={'468'}
						width={'262'}
						class={'z-20 w-[240px] md:w-[256px] h-[440px] relative bg-black  rounded-[35px]'}
					/>
					<Image
						src={hero.dangerSign}
						alt={''}
						height={'110'}
						width={'110'}
						class={'relative z-50 -top-12 -right-40 -rotate-6'}
					/>
					<div
						class='min-h-[400px] overflow-hidden z-40 rounded-3xl absolute top-3 left-3 right-3 bottom-5'>
						<Video
							controls
							className='object-cover h-full'
							videoSrc={hero.video}
						/>
					</div>
				</div>
			</div>
		</div>

		<div class='lg:hidden relative mt-16 flex md:self-center flex-col gap-4'>
			<p class='text-2xl relative w-full'>
				{hero.subtitle}
			</p>
			<ButtonLink
				href={'#actions'}
				title={hero.buttonText}
				className=''
			/>
			<Image
				class={'absolute -bottom-14'}
				src={hero.giftImg}
				height={'100'}
				width={'100'}
				alt={''}
			/>
			<Image
				class={'absolute right-0 bottom-2'}
				src={hero.giftImg}
				height={'100'}
				width={'100'}
				alt={''}
			/>
		</div>
	</Container>
</Section>}
