---
import { ViewTransitions } from 'astro:transitions';
import '../styles.css';
import Header from '../widgets/Header.astro';

export interface Props {
	title: string;
	phone?: string;
	description?: string;
	icon?: string;
	keywords?: string[];
	children?: any | any[];
}

const { title, phone, description, icon, keywords }: Props = Astro.props;
---

<!doctype html>
<html lang='ru'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content={description}
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='keywords'
			content={keywords?.join(', ')}
		/>
		<meta
			name='robots'
			content='index, follow, max-image-preview:small'
		/>

		<!-- Open Graph START -->
		<meta
			property='og:locale'
			content='ru_RU'
		/>
		<meta
			property='og:type'
			content='website'
		/>
		<meta
			property='og:title'
			content='Группа компаний "Центр дезинфекций" в Великом Новгороде'
		/>
		<meta
			property='og:url'
			content='https://dez-nov.ru/'
		/>
		<meta
			property='og:description'
			content='Группа компаний "Центр дезинфекций" в Великом Новгороде'
		/>
		<meta
			property='og:locale'
			content='ru_RU'
		/>
		<meta
			property='og:image'
			content='https://dez-nov.ru/%D0%9B%D0%BE%D0%B3%D0%BE%D0%A6%D0%94%20(2).webp'
		/>
		<meta
			property='og:site_name'
			content='Группа компаний "Центр дезинфекций" в Великом Новгороде'
		/>
		<!-- Open Graph END -->
		<link
			rel='icon'
			type='image/svg+xml'
			href={icon}
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class='h-full w-full overflow-x-hidden text-base text-primary-text bg-primary-bg'>
		<Header phone={phone} />

		<slot />
		<!-- <script is:inline>
			(function () {
				// get all data in form and return object
				function getFormData(form) {
					var elements = form.elements;
					var honeypot;

					var fields = Object.keys(elements)
						.filter(function (k) {
							if (elements[k].name === 'honeypot') {
								honeypot = elements[k].value;
								return false;
							}
							return true;
						})
						.map(function (k) {
							if (elements[k].name !== undefined) {
								return elements[k].name;
								// special case for Edge's html collection
							} else if (elements[k].length > 0) {
								return elements[k].item(0).name;
							}
						})
						.filter(function (item, pos, self) {
							return self.indexOf(item) == pos && item;
						});

					var formData = {};
					fields.forEach(function (name) {
						var element = elements[name];

						// singular form elements just have one value
						formData[name] = element.value;

						// when our element has multiple items, get their values
						if (element.length) {
							var data = [];
							for (var i = 0; i < element.length; i++) {
								var item = element.item(i);
								if (item.checked || item.selected) {
									data.push(item.value);
								}
							}
							formData[name] = data.join(', ');
						}
					});

					// add form-specific values into the data
					formData.formDataNameOrder = JSON.stringify(fields);
					formData.formGoogleSheetName = form.dataset.sheet || 'responses'; // default sheet name
					formData.formGoogleSendEmail = form.dataset.email || ''; // no email by default

					return { data: formData, honeypot: honeypot };
				}

				function handleFormSubmit(event) {
					// handles form submit without any jquery
					event.preventDefault(); // we are submitting via xhr below
					var form = event.target;
					var formData = getFormData(form);
					var data = formData.data;

					// If a honeypot field is filled, assume it was done so by a spam bot.
					if (formData.honeypot) {
						return false;
					}

					disableAllButtons(form);
					var url = form.action;
					var xhr = new XMLHttpRequest();
					xhr.open('POST', url);
					// xhr.withCredentials = true;
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xhr.onreadystatechange = function () {
						if (xhr.readyState === 4 && xhr.status === 200) {
							form.reset();
							var formElements = form.querySelector('.form-elements');
							if (formElements) {
								formElements.style.display = 'none'; // hide form
							}
							var thankYouMessage = form.querySelector('.thankyou_message');
							if (thankYouMessage) {
								thankYouMessage.style.display = 'block';
							}
						}
					};
					// url encode form data for sending as post data
					var encoded = Object.keys(data)
						.map(function (k) {
							return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]);
						})
						.join('&');
					xhr.send(encoded);
					setTimeout(() => {
						window.location.replace('/thank-you');
					}, 2500);
				}

				function loaded() {
					// bind to the submit event of our form
					var forms = document.querySelectorAll('form.gform');
					for (var i = 0; i < forms.length; i++) {
						forms[i].addEventListener('submit', handleFormSubmit, false);
					}
				}
				document.addEventListener('DOMContentLoaded', loaded, false);

				function disableAllButtons(form) {
					var buttons = form.querySelectorAll('button');
					for (var i = 0; i < buttons.length; i++) {
						buttons[i].disabled = true;
					}
				}
			})();
		</script> -->
		<!-- Gudok -->
		<script type='text/javascript'>
			(function (window, document, n, project_ids) {
				window.GudokData = n;
				if (typeof project_ids !== 'object') {
					project_ids = [project_ids];
				}
				window[n] = {};
				window[n]['projects'] = project_ids;
				config_load(project_ids.join(','));
				function config_load(cId) {
					var a = document.getElementsByTagName('script')[0],
						s = document.createElement('script'),
						i = function () {
							a.parentNode.insertBefore(s, a);
						},
						cMrs = '';
					s.async = true;
					if (
						document.location.search &&
						document.location.search.indexOf('?gudok_check=') === 0
					)
						cMrs += document.location.search.replace('?', '&');
					s.src = '//mod.gudok.tel/script.js?sid=' + cId + cMrs;
					if (window.opera == '[object Opera]') {
						document.addEventListener('DOMContentLoaded', i, false);
					} else {
						i();
					}
				}
			})(window, document, 'gd', '8hubgzn7bx');
		</script>
		<script>
			import IMask from 'imask';

			// Apply input masking using Imask
			const element = document.getElementById('maskedInput') as HTMLInputElement;
			const maskOptions = {
				mask: '+{7}(000)-000-00-00',
			};
			const mask = IMask(element, maskOptions);
		</script>
		<!-- Yandex.Metrika counter -->
		<script type='text/javascript'>
			(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						(m[i].a = m[i].a || []).push(arguments);
					};
				m[i].l = 1 * new Date();
				for (var j = 0; j < document.scripts.length; j++) {
					if (document.scripts[j].src === r) {
						return;
					}
				}
				(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a);
			})(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

			ym(96688405, 'init', {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true,
			});
		</script>
		<noscript
			><div>
				<img
					src='https://mc.yandex.ru/watch/96688405'
					style='position:absolute; left:-9999px;'
					alt=''
				/>
			</div></noscript
		>
		<!-- /Yandex.Metrika counter -->
	</body>
</html>

<style>
	body {
		font-family: 'Manrope', sans-serif;
	}
</style>
